{% extends 'core/base.html' %}

{% load static %}

{% block title %}{{object.title}}{% endblock %}



{% block content %}
<!-- Breadcrumbs -->
<section class="bg-gray-7">
  <div class="breadcrumbs-custom box-transform-wrap context-dark">
    <div class="container">
      <h3 class="breadcrumbs-custom-title">{{object.title}}</h3>
      <div class="breadcrumbs-custom-decor"></div>
    </div>
    <div class="box-transform" style="background-image: url({% static 'core/images/bg-blog.jpg' %});"></div>
  </div>
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="{% url 'home' %}">Inicio</a></li>
      <li><a href="{% url 'blog:blog' %}">Blog</a></li>
      <li class="active">detalles</li>
    </ul>
  </div>
</section>
<!-- Grid Blog-->
<section class="section section-lg bg-default">
  <div class="container">
    <div class="row row-60 row-xl-75">
      <div class="col-lg-12">
        
        <div class="single-post section-style-2">
          <h5 class="text-spacing-50 font-weight-normal text-transform-none">{{object.title}}</h5>
          <div class="group-md group-middle">
            <time class="post-classic-time" datetime="">{{object.published|date:"SHORT_DATE_FORMAT"}}</time>
            <div>
              <ul class="list-inline list-inline-xl post-classic-info">
                <li class="post-classic-author"><span class="icon mdi mdi-account-outline"></span><span>by <a href="blog-post.html#">{{object.author}}</a></span></li>
                <!--<li class="post-classic-views"><span class="icon mdi mdi-eye"></span><span>3678</span></li>
                <li class="post-classic-comments"><span class="icon mdi mdi-comment-outline"></span><a href="blog-post.html#">3</a></li>-->
              </ul>
            </div>
          </div>
          <img src="{{object.image.url}}" alt="" width="770" height="403"/>
            <p>{{post.content|safe}}</p>
          <br>
          
          <!-- Quote Classic-->
          
         
        </div>
        
        
      </div>
      
    </div>
  </div>
</section>

{% endblock %}