{% extends 'core/base.html' %}

{% load static %}

{% block title %}Productos{% endblock %}

{% block content %}

<!-- Breadcrumbs -->
<section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
      <div class="container">
        <h3 class="breadcrumbs-custom-title">Productos</h3>
        <div class="breadcrumbs-custom-decor"></div>
      </div>
      <div class="box-transform" style="background-image: url({% static 'core/' %}images/bg-forms.jpg);"></div>
    </div>
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li class="active">Productos</li>
      </ul>
    </div>
  </section>
  <!-- Grid Gallery-->
  <section class="section section-lg bg-default">
    <!--<div class="container">
      <div class="isotope-filters isotope-filters-horizontal">
        <button class="isotope-filters-toggle button button-sm button-icon button-icon-right button-gray-3" data-custom-toggle=".isotope-filters-list" data-custom-toggle-hide-on-blur="true"><span class="icon mdi mdi-chevron-down"></span>Filter</button>
        <ul class="isotope-filters-list">
          <li><a class="active" href="#" data-isotope-filter="*" data-isotope-group="gallery">All</a></li>
          <li><a href="#" data-isotope-filter="Type 1" data-isotope-group="gallery">Reconstruction</a></li>
          <li><a href="#" data-isotope-filter="Type 2" data-isotope-group="gallery">Architectural Design</a></li>
        </ul>
      </div>
    </div>-->
    <div class="container-fluid container-inset-0">
      <div class="row row-30 row-desktop-8 gutters-8 isotope hoverdir" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group">
        {% for product in product_list|dictsort:"id" reversed %}
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item" data-filter="Type 2">
          <!-- Thumbnail Modern-->
          <article class="thumbnail thumbnail-modern hoverdir-item" data-hoverdir-target=".thumbnail-modern-caption">
            <a class="thumbnail-modern-figure" href="{{product.image1.url}}" data-lightgallery="item">
              <img src="{{product.image1.url}}" alt="" width="474" height="355"/></a>
            <div class="thumbnail-modern-caption">
              <h5 class="thumbnail-modern-title"><a href="{% url 'product:detail' product.id product.title|slugify %}">{{product.title|safe}}</a></h5>
              <div class="thumbnail-modern-badge">{{product.categories.name}}</div>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="pagination-wrap">
      <!-- Bootstrap Pagination-->
      {% if is_paginated %}
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item page-item-control ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span class="icon" aria-hidden="true"></span>
                </a>
              </li>
            {% else %}
              <li class="page-item page-item-control disabled">
                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
              </li>
            {% endif %}
            {% for i in paginator.page_range %}
              <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item page-item-control">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span class="icon" aria-hidden="true"></span>
                </a>
              </li>
            {% else %}
              <li class="page-item page-item-control disabled">
                <a class="page-link" href="#" tabindex="-1">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
    </div>
  </section>

{% endblock %}