{% extends 'core/base.html' %}

{% load static %}

{% block title %}{{object.title}}{% endblock %}

{% block content %}

<!-- Breadcrumbs -->
<section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
      <div class="container">
        <h3 class="breadcrumbs-custom-title">Single Product</h3>
        <div class="breadcrumbs-custom-decor"></div>
      </div>
      <div class="box-transform" style="background-image: url(images/bg-forms.jpg);"></div>
    </div>
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="index.html">Home</a></li>
        <li><a href="single-product.html#">Pages</a></li>
        <li class="active">Single Product</li>
      </ul>
    </div>
  </section>
  <!-- Single Product-->
  <section class="section section-sm section-first bg-default">
    <div class="container">
      <div class="row row-30">
        <div class="col-lg-6">
          <div class="slick-vertical slick-product">
            <!-- Slick Carousel-->
            <div class="slick-slider carousel-parent" data-swipe="true" data-items="1" data-child="#child-carousel-6" data-for="#child-carousel-6">
              <div class="item">
                <div class="slick-product-figure"><img src="images/single-product-1-530x480.png" alt="" width="530" height="480"/>
                </div>
              </div>
              <div class="item">
                <div class="slick-product-figure"><img src="images/single-product-2-530x480.png" alt="" width="530" height="480"/>
                </div>
              </div>
              <div class="item">
                <div class="slick-product-figure"><img src="images/single-product-3-530x480.png" alt="" width="530" height="480"/>
                </div>
              </div>
            </div>
            <div class="slick-slider child-carousel" id="child-carousel-6" data-for=".carousel-parent" data-arrows="true" data-items="3" data-sm-items="3" data-md-items="3" data-lg-items="3" data-xl-items="3" data-slide-to-scroll="1" data-md-vertical="true">
              <div class="item">
                <div class="slick-product-figure"><img src="images/single-product-1-530x480.png" alt="" width="530" height="480"/>
                </div>
              </div>
              <div class="item">
                <div class="slick-product-figure"><img src="images/single-product-2-530x480.png" alt="" width="530" height="480"/>
                </div>
              </div>
              <div class="item">
                <div class="slick-product-figure"><img src="images/single-product-3-530x480.png" alt="" width="530" height="480"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single-product">
            <h4 class="text-transform-none text-spacing-50">CPU Liquid Cooler</h4>
            <div class="group-md group-middle">
              <div class="single-product-price">$225.00</div>
              <div class="single-product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span></div>
            </div>
            <p>Lorem ipsum dolor sit amet, ei impetus epicurei his, ne falli erant consequuntur est. Mei simul aperiam eu, an rebum regione ponderum mel. Facer placerat ut duo, id duis solum maiorum vis, vim autemsemper docendi cu.</p>
            <hr class="hr-gray-300">
            <ul class="list list-description d-inline-block d-md-block">
              <li><span>Categories:</span><span>Liquid Cooling</span></li>
              <li><span>Weight:</span><span>15 kg</span></li>
              <li><span>Dimensions:</span><span>60 x 60 x 90 cm</span></li>
            </ul>
            <div class="group-lg group-middle">
              <div class="product-stepper">
                <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="1000">
              </div>
              <div><a class="button button-lg button-secondary button-winona" href="cart-page.html">Add to cart</a></div>
            </div>
            <hr class="hr-gray-300">
            <div class="group-sm group-middle"><span class="single-product-social-title">Share</span>
              <div>
                <ul class="list-inline single-product-social-list list-inline-sm">
                  <li><a class="icon mdi mdi-facebook" href="single-product.html#"></a></li>
                  <li><a class="icon mdi mdi-twitter" href="single-product.html#"></a></li>
                  <li><a class="icon mdi mdi-instagram" href="single-product.html#"></a></li>
                  <li><a class="icon mdi mdi-google-plus" href="single-product.html#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Bootstrap tabs-->
      <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-3">
        <!-- Nav tabs-->
        <ul class="nav nav-tabs">
          <li class="nav-item" role="presentation"><a class="nav-link active" href="single-product.html#tabs-3-1" data-toggle="tab">Comments</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="single-product.html#tabs-3-2" data-toggle="tab">Additional information</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="single-product.html#tabs-3-3" data-toggle="tab">Delivery and payment</a></li>
        </ul>
        <!-- Tab panes-->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tabs-3-1">
            <div class="box-comment-wrap">
              <div class="box-comment box-comment-product">
                <div class="unit flex-column flex-md-row">
                  <div class="unit-left"><a class="box-comment-figure" href="single-product.html#"><img src="images/user-1-119x119.jpg" alt="" width="119" height="119"/></a></div>
                  <div class="unit-body">
                    <div class="group-md group-justify">
                      <div>
                        <div class="group-md group-middle">
                          <p class="box-comment-author"><a href="single-product.html#">John Doe</a></p>
                          <div class="box-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star-half"></span></div>
                        </div>
                      </div>
                      <div class="box-comment-time">
                        <time datetime="2018-11-30">Nov 30, 2018</time>
                      </div>
                    </div>
                    <p class="box-comment-text">Lorem ipsum dolor sit amet, has mutat labores nostrum ei. Duo te blandit erroribus, ut sea ipsum nonumy, mel no ignota accusamus gloriatur. Id has habeo regione, explicari hendrerit reprimique cum te.</p>
                  </div>
                </div>
              </div>
            </div>
            <h5>Your Comment</h5>
            <form class="rd-form rd-mailform">
              <div class="row row-14 gutters-14">
                <div class="col-md-4">
                  <div class="form-wrap">
                    <input class="form-input" id="contact-your-name-3" type="text" name="name" data-constraints="@Required"/>
                    <label class="form-label" for="contact-your-name-3">Your Name*</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-wrap">
                    <input class="form-input" id="contact-email-3" type="email" name="email" data-constraints="@Email @Required"/>
                    <label class="form-label" for="contact-email-3">Your E-mail*</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-wrap">
                    <input class="form-input" id="contact-phone-3" type="text" name="phone" data-constraints="@Numeric"/>
                    <label class="form-label" for="contact-phone-3">Phone</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-wrap">
                    <label class="form-label" for="contact-message-3">Message*</label>
                    <textarea class="form-input textarea-lg" id="contact-message-3" name="message" data-constraints="@Required"></textarea>
                  </div>
                </div>
              </div>
              <button class="button button-secondary button-winona" type="submit">Submit</button>
            </form>
          </div>
          <div class="tab-pane fade" id="tabs-3-2">
            <div class="unit unit-spacing-1 flex-column flex-md-row align-items-lg-center">
              <div class="unit-left"><span class="icon-xxxl text-gray-800-01 mdi mdi-information-outline"></span></div>
              <div class="unit-body">
                <p class="text-spacing-50">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat . At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tabs-3-3">
            <div class="unit unit-spacing-1 flex-column flex-md-row align-items-lg-center">
              <div class="unit-left"><span class="icon-xxxl text-gray-800-01 mdi mdi-information-outline"></span></div>
              <div class="unit-body">
                <p class="text-spacing-50">Here you can read some details about a nifty little lifecycle of your order's journey. At first you choose the product you like. Then you put into your shopping cart and pass the checkout process in a few clicks. Our store offers several payment and delivery methods, so you have an opportunity to choose which one is the most convenient for you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Related Products-->
  <section class="section section-sm section-last bg-default">
    <div class="container">
      <h5>Related Products</h5>
      <div class="row row-lg row-30">
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <!-- Product-->
          <article class="product">
            <div class="product-figure"><img src="images/product-1-195x141.png" alt="" width="195" height="141"/>
            </div>
            <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
            </div>
            <h6 class="product-title">Sound Card</h6>
            <div class="product-price-wrap">
              <div class="product-price">$245.00</div>
            </div>
            <div class="product-button">
              <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="cart-page.html">Add to cart</a></div>
              <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="single-product.html">View Product</a></div>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <!-- Product-->
          <article class="product">
            <div class="product-figure"><img src="images/product-2-195x141.png" alt="" width="195" height="141"/>
            </div>
            <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
            </div>
            <h6 class="product-title">Power Supply 600W</h6>
            <div class="product-price-wrap">
              <div class="product-price">$145.00</div>
            </div>
            <div class="product-button">
              <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="cart-page.html">Add to cart</a></div>
              <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="single-product.html">View Product</a></div>
            </div><span class="product-badge product-badge-new">New</span>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <!-- Product-->
          <article class="product">
            <div class="product-figure"><img src="images/product-3-195x141.png" alt="" width="195" height="141"/>
            </div>
            <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
            </div>
            <h6 class="product-title">Graphics Card </h6>
            <div class="product-price-wrap">
              <div class="product-price">$235.00</div>
            </div>
            <div class="product-button">
              <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="cart-page.html">Add to cart</a></div>
              <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="single-product.html">View Product</a></div>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <!-- Product-->
          <article class="product">
            <div class="product-figure"><img src="images/product-4-195x141.png" alt="" width="195" height="141"/>
            </div>
            <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
            </div>
            <h6 class="product-title">Digital Sound Card</h6>
            <div class="product-price-wrap">
              <div class="product-price">$248.00</div>
            </div>
            <div class="product-button">
              <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="cart-page.html">Add to cart</a></div>
              <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="single-product.html">View Product</a></div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

{% endblock %}