{% extends 'core/base.html' %}

{% load static %}

{% block title %}{{category.name}}{% endblock %}



{% block content %}
<!-- Breadcrumbs -->
<section class="bg-gray-7">
  <div class="breadcrumbs-custom box-transform-wrap context-dark">
    <div class="container">
      <h3 class="breadcrumbs-custom-title">{{category.name}}</h3>
      <div class="breadcrumbs-custom-decor"></div>
    </div>
    <div class="box-transform" style="background-image: url({% static 'core/images/bg-blog.jpg' %});"></div>
  </div>
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="{% url 'home' %}">Inicio</a></li>
      <li><a href="{% url 'product:products' %}">Productos</a></li>
      <li class="active">{{category.name}}</li>
    </ul>
  </div>
</section>
<!-- Grid Blog             -->
<section class="section section-lg bg-default">
  <div class="container">
    <div class="row row-60 row-xl-75">
      <div class="col-lg-8">
        {% for post in category.get_services.all %}
        <div class="single-post section-style-2">
          <h5 class="text-spacing-50 font-weight-normal text-transform-none">{{post.title}}</h5>
          <div class="group-md group-middle">
            
          </div>
          <img src="{{post.image.url}}" alt="" width="770" height="403"/>
          {{post.content|safe}}
          <br>
          <br>
          <!-- Quote Classic-->
          
         
        </div>
        {% endfor %}
        
      </div>
      <div class="col-lg-4">
        <div class="inset-left-xl-40">
          <div class="aside row row-60 row-xl-75">
            <div class="aside-item col-12">
              <!-- RD Search Form-->
              <form action="#" method="GET">
                <div class="form-wrap">
                  <label class="form-label" for="search-form-2">Buscar en servicios...</label>
                  <input class="form-input" id="search-form-2" type="text" name="s" autocomplete="off">
                  <button class="button-search fl-bigmug-line-search74" type="submit"></button>
                </div>
              </form>
            </div>
            <div class="aside-item col-md-6 col-lg-12">
              
            </div>
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}